body {
    margin: 0;
    background-color: #2D2D30;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.hovered {
    transition: transform 0.5s ease;
}

.hovered:hover {
    transform: scale(1.1);
}

.header {
    display: flex; 
    text-align: left; 
    font-size: 35px;
}

.banner {
    background-image: url(https://i.pinimg.com/originals/ec/17/ee/ec17ee8ace7615022ba4ba96ab0be153.jpg);
    background-size: cover;
    width: 100%;
    height: 40vh;
    text-align: center;
    align-items: center;
    align-content: center;
    text-shadow: 0px 0px 30px #2D2D30;
}

.banner h1 {
    font-size: 100px;
    margin: 0;
}

.banner p {
    font-size: 30px;
    line-height: 0;
}

.home {
    display: flex;
    margin: auto;
    width: 95%;
}

.section {
    margin-top: 30px;
    padding: 30px;
    text-align: center;
    width: 40%;
}

.section img {
    width: 50%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    font-size: 25px;
}

.links {
    display: flex;
    text-align: right;
}

.links a {
    margin-left: 25px;
}

.login {
    display: flex;
}

.loginimg {
    height: 100vh;
    width: 65%;
    background-image: url(https://i.pinimg.com/564x/93/c1/41/93c141eda5926c9d5f621766164fc04e.jpg);
    background-size: cover;
}

form {
    width: 35%;
    padding: 10px;
    margin: 60px;
}

form input {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
}

#submit {
    margin-top: 10px;
    width: 15%;
    line-height: 15px;
    width: 20%;
}