body {
    margin: 0;
    background-color: #2D2D30;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.hovered {
    transition: transform 0.5s ease;
}

.hovered:hover {
    transform: scale(1.1);
}

.header {
    display: flex; 
    text-align: left; 
    font-size: 35px;
}

.banner {
    background-image: linear-gradient(rgba(107, 63, 71, 0.5), rgba(107, 63, 71, 0.5)), url(https://i.pinimg.com/originals/ec/17/ee/ec17ee8ace7615022ba4ba96ab0be153.jpg);
    background-size: cover;
    width: 100%;
    height: 40vh;
    text-align: center;
    align-items: center;
    align-content: center;
    text-shadow: 0px 0px 30px #2D2D30;
}

.banner h1 {
    font-size: 100px;
    margin: 0;
}

.banner p {
    font-size: 30px;
    line-height: 0;
}

.home {
    display: flex;
    margin: auto;
    width: 95%;
}

.section {
    margin-top: 30px;
    padding: 30px;
    text-align: center;
    width: 40%;
}

.section img {
    width: 50%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: pink;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    font-size: 25px;
}

.links {
    display: flex;
    text-align: right;
}

.links a {
    margin-left: 25px;
}

.login {
    display: flex;
}

.forms {
    display: inline-block;
}

.loginimg {
    height: 100vh;
    width: 65%;
    background-image: url(https://i.pinimg.com/564x/93/c1/41/93c141eda5926c9d5f621766164fc04e.jpg);
    background-size: cover;
}

#log {
    margin-top: 60px;
    margin-left: 40px;
}

#reg {
    margin-top: 15px;
    margin-left: 40px;
}

form input {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
}

form a {
    font-size: 12px; 
    text-decoration: underline; 
}

form h2 {
    margin-bottom: 10px;
}

.subscript {
    font-size: 12px; 
    line-height: 0; 
    color: lightgrey;
}

.button {
    margin-top: 0;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    width: 20%;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.button:hover {
    color: black;
    background-color: white;
    border: 2px solid white;
}

.recipe-card {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-card h3 {
  font-weight: bold;
  margin-top: 0;
}

.recipe-card p {
  margin-bottom: 10px;
}

.recipe-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}